* {
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    width: 100%;
}

.header-top {
    display: flex;
    width: 100%;

}
.logo {

    justify-content: flex-start;
}
.search {
    justify-content: flex-end;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
}