* {
    margin: 0;
    padding: 0;

}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 50px;
}

.header-top {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: #f0f0f0;
    justify-content: space-between;
}
.header_bottom {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: #ccc;
}
.logo {
    display: flex;
    justify-content: flex-start;
}
.logo img {
    width: 90px;
    height: 100%;
    display: block;
}
.search {
    display: flex;
    height: 20px;
    justify-content: flex-end;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
}
.left_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.text {

}

.tbl {
    width: 100%;
}
.tbl table {
    width: 100%;
    background-color: red;
    border-spacing: 20px;
    border-collapse: separate;
}
.tbl td {
    border: 1px solid #000;
    width: 50%;
    padding: 15px;
    text-align: left;
    border-radius: 10px;

}
.right_block {
    display: flex;
    width: 50%;
}